

html {
  overflow-y: scroll;
}

body {
  font-family: verdana;
  margin: 0;
  background-color: #e6f4f6;
}

#homepageImage{
  background-image: url(https://images.unsplash.com/photo-1637176706497-1179d9861e16?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-position: center;
  filter: sepia(30%);
  filter: grayscale(70%);
  margin: 1rem auto;
  width: 100%;
  height: 100%;
  border: 8px, solid, #029987;
}
#homepage{
  margin: auto;
  max-width: 95%;
  text-align: center;
}

.signature {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #404040;
  
  width: 100%;
}

.sig-box {
  padding-top: 0;
  padding-bottom: 0;
  
}

.port-display-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

li {
  list-style: none;
  padding: .2rem;
  color: darkblue
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2{
  padding: 1rem 2rem 0;
  text-align: center;
  color: #004C60
}

#login{
  text-align: center;
  margin: 1rem auto;
  width: 30%;
  min-width: 300px;
  padding: 1rem;
  border-radius: 4px;
  border: 2px solid #029987
}
 .app-body{
  min-height: 70%;
} 

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: .5rem;
}


#subnav{
  position: sticky;
  top: 0;
  z-index: 100;
}

#productDiv{
  margin: 1rem auto;
  max-width: 90%;
  display: flex;
  padding: 2rem 4rem;
  justify-content: center;
  border-left: 1px solid #029987;
  border-top: 1px solid #029987;
  border-right: 3px solid #029987;
  border-bottom: 3px solid #029987;
  border-radius: 0 0 1rem 0;
}

#productDiv > div {
  max-width: 100%;
  margin: 1rem
}


#aboutDiv{
  margin: 1rem auto;
  max-width: 90%;
  display: flex;
  padding: 2rem 4rem;
  justify-content: center;
  border-left: 1px solid #029987;
  border-top: 1px solid #029987;
  border-right: 3px solid #029987;
  border-bottom: 3px solid #029987;
  border-radius: 0 0 1rem 0;
}

#aboutDiv > img {
    margin: 1rem;
    flex: 1 1 100%;

}
#aboutDivRight {
    margin: 1rem;
    flex: 1 1 100%;
}

#cart{
  box-sizing: content-box;
  max-width: 800px;
  min-width:fit-content;
  text-align: left;
  margin: 1rem auto;
  padding: 2rem;
  border-radius: 4px;
  border: 2px solid #029987
}

#checkoutPage{
  max-width: 90%;
  margin: auto;
  display: flex
}
 #checkoutPageCart{
  flex: 1;
  box-sizing: content-box;
  max-width: 800px;
  min-width:200px;
  text-align: left;
  margin: 1rem auto;
  padding: 2rem;
  border-radius: 4px;
  border: 2px solid #029987
}
#checkoutPageForm{
  flex: 1;
  min-width: 200px;
  max-width: 800px;
  box-sizing: content-box;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
  border: 2px solid #029987
}

.formBlock {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 90px;
}

.form {
  background-color:#fcfcfc; 
  padding: 50px 100px;
  border-top: 30px solid #70809090;
  margin-top: 50px;
  width: 40vw;
  height: auto;
}

input, textarea{
  display: block;
  width: 100%;
  font-size: 12px;
  line-height: 30px;
  border: none;
  border:1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: #fafaf9;
  padding-left: 5px;
  outline: none;
}

input {
  margin-bottom: 9px;
  font-family: 'Spartan';
  }

  input:focus, textarea:focus {
    border: 1px solid #08369a;
  }
  
textarea {
  resize: none;
}

select {
  display: block;
  width: 100%;
  font-size: 12px;
  line-height: 20px;
  font-family: 'Spartan'
}


form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

.ticker-tape {
  animation: ticker 20s linear infinite;
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  overflow: visible;
  /* height: var(--height); */
  height: 150px;
  padding-left: 100%;

}

.ticker-tape .ticker {
  /* height: var(--height); */
  height: 150px;
  line-height: var(--height);
  white-space: nowrap;
  padding-right: 100%;
 
}

.ticker-tape .ticker__item {
  display: inline-block;
  padding: 0 .5rem;
  font-size: 2rem;
  font-weight: 250;
  
}

.yours {
  color: aqua;
}

.mine {
  color: #EEE;
}

/* .online {
  background-color: skyblue;
} */

div > div > .hidden {
  display: 'none';
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    transform: translateX(-250%);
  }
}

#chats {
  display: flex;
  flex-wrap: wrap;
}


/* Form Progress */
.progress {
  width: 1000px;
  margin: 20px auto;
  text-align: center;
}
.progress .circle,
.progress .bar {
  display: inline-block;
  background: #fff;
  width: 40px; height: 40px;
  border-radius: 40px;
  border: 1px solid #d5d5da;
}
.progress .bar {
  position: relative;
  width: 80px;
  height: 6px;
  top: -33px;
  margin-left: -5px;
  margin-right: -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.progress .circle .label {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: #b5b5ba;
  font-size: 17px;
}
.progress .circle .title {
  color: #b5b5ba;
  font-size: 13px;
  line-height: 30px;
  margin-left: -5px;
}

/* Done / Active */
.progress .bar.done,
.progress .circle.done {
  background: #eee;
}
.progress .bar.active {
  background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
.progress .circle.done .label {
  color: #FFF;
  background: green;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.done .title {
  color: #444;
}
.progress .circle.active .label {
  color: white;
  background: lightgray;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.active .title {
  color: lightgray;
}

*,
*:before,
*:after {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 20px;
}

/* body {
  background: #87beff;
  color: #222;
  font: 1em "Anton", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
} */

/* all */
.progress-container,
.progress-state,
.dump-truck,
.dump-truck div {
  position: absolute;
}

/* progress */
.progress-container,
.progress-box {
  width: 6em;
}

.progress-container {
  top: 50%;
  left: calc(50% - 3em);
  height: 7.5em;
  z-index: 2;
}

.progress-box {
  border-radius: 0 0 0.5em 0.5em;
  border: 0.5em solid #505050;
  border-top: 0;
  height: 4em;
}

.progress-fill {
  animation: fillDirt 10s linear forwards;
  background: #643232;
  transform: scaleY(0);
  transform-origin: 50% 100%;
  transition: transform 0.5s ease-out;
  width: 100%;
  height: 100%;
}

.progress-state {
  bottom: 0;
  left: 0;
  font-size: 1.5em;
  text-align: center;
}

.state-load {
  animation: hideLoad 20s linear forwards;
}

.state-finish {
  animation: showFinish 0.3s 20s linear forwards;
  visibility: hidden;
}

/* trucks */
.dump-truck {
  opacity: 0;
  top: calc(50% - 4em);
  width: 14em;
  height: 8em;
}
.dump-truck:nth-of-type(2) {
  animation: backupL 10s ease-in-out 2 forwards;
  right: 50%;
  transform: scaleX(-1) translateX(5em);
}
.dump-truck:nth-of-type(2) .bucket {
  animation: dump 10s linear 2;
}
.dump-truck:nth-of-type(2) .dirt {
  animation: rotateDirt 10s linear 2;
}
.dump-truck:nth-of-type(2) .dirt-spill {
  animation: pourDirt 10s linear 2;
}
.dump-truck:nth-of-type(2) .wheel {
  animation: spinL 10s ease-in-out 2;
}
.dump-truck:last-of-type {
  animation: backupR 10s 5s ease-in-out 2 forwards;
  left: 50%;
  transform: translateX(5em);
}
.dump-truck:last-of-type .bucket {
  animation: dump 10s 5s linear 2;
}
.dump-truck:last-of-type .dirt {
  animation: rotateDirt 10s 5s linear 2;
}
.dump-truck:last-of-type .dirt-spill {
  animation: pourDirt 10s 5s linear 2;
}
.dump-truck:last-of-type .wheel {
  animation: spinR 10s 5s ease-in-out 2;
}

.front {
  background: linear-gradient(#ff3f30, #ff3f30) 2.7em 0.75em/0.2em 2em, linear-gradient(#a0a0a0, #a0a0a0) 1em 3.5em/0.8em 0.2em, linear-gradient(#505050, #505050) 3.3em 6.1em/0.5em 0.2em, linear-gradient(#505050, #505050) 3.3em 6.8em/0.5em 0.2em, linear-gradient(83deg, #282828 49%, rgba(40, 40, 40, 0) 50%) 1em 0.75em/5em 2em, radial-gradient(3.4em 4.6em at 33% 100%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 59%, rgba(255, 255, 255, 0) 60%), radial-gradient(3.4em 4.6em at 33% 100%, rgba(255, 63, 48, 0) 49%, #ff3f30 50%);
  background-repeat: no-repeat;
  border-radius: 10% 20% 5% 25%/10% 50% 5% 100%;
  top: 0.4em;
  left: 10.1em;
  width: 3.9em;
  height: 7em;
}

.bucket {
  background: repeating-linear-gradient(95deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 0.85em, rgba(0, 0, 0, 0.15) 0.9em, rgba(0, 0, 0, 0.15) 1.75em, rgba(0, 0, 0, 0.15) 1.8em) 0.1em 1.6em/7.8em 3.2em, linear-gradient(#505050, #505050) 8em 0/2em 0.5em, linear-gradient(95deg, rgba(80, 80, 80, 0) 0.45em, #505050 0.5em, #505050 1.45em, rgba(80, 80, 80, 0) 1.5em) 7em 0/1.6em 5.5em, linear-gradient(rgba(80, 80, 80, 0) 1em, #505050 1em) 0 0/7.5em 5.5em;
  background-repeat: no-repeat;
  border-radius: 0 0 0 25%/0 0 0 15%;
  top: 0;
  left: 0;
  width: 10em;
  height: 5.5em;
  transform: rotate(0deg);
  transform-origin: 22% 100%;
}

.dirt {
  background: #643232;
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  top: 1.1em;
  left: -3.2em;
  width: 7.4em;
  height: 3em;
  transform: rotate(-25deg);
  transform-origin: 50% 0;
  z-index: -1;
}

.dirt-spill {
  background: #643232;
  border-radius: 0.4em;
  top: 0;
  left: -5.25em;
  transform: rotate(-40deg) scale(1, 1);
  transform-origin: 5.25em 0em;
  width: 5.5em;
  height: 0.8em;
}

.base {
  background: #7f5b58;
  border-radius: 0.25em;
  top: 5.5em;
  left: 2em;
  width: 8.3em;
  height: 1.5em;
}

.wheel {
  background: radial-gradient(100% 100%, #282828 9%, rgba(40, 40, 40, 0) 10%), radial-gradient(100% 100%, #a0a0a0 29%, rgba(160, 160, 160, 0) 30%), linear-gradient(90deg, rgba(255, 255, 255, 0.15) 49%, rgba(255, 255, 255, 0) 50%), radial-gradient(100% 100%, #282828 49%, rgba(40, 40, 40, 0) 50%);
  border-radius: 50%;
  bottom: 0;
  width: 2.4em;
  height: 2.4em;
}

.wheel-front {
  left: 10.4em;
}

.wheel-middle {
  left: 4.5em;
}

.wheel-back {
  left: 2em;
}

/* animations */
@keyframes backupL {
  from, 50%, to {
    opacity: 0;
    transform: scaleX(-1) translateX(20em);
  }
  12.5%, 37.5% {
    opacity: 1;
    transform: scaleX(-1) translateX(5em);
  }
}
@keyframes backupR {
  from, 50%, to {
    opacity: 0;
    transform: translateX(20em);
  }
  12.5%, 37.5% {
    opacity: 1;
    transform: translateX(5em);
  }
}
@keyframes dump {
  from, 12.5%, 37.5%, to {
    transform: rotate(0deg);
  }
  20%, 30% {
    transform: rotate(-40deg);
  }
}
@keyframes rotateDirt {
  from, 19.9%, 30.1%, to {
    opacity: 0;
  }
  20%, 30% {
    opacity: 1;
    transform: rotate(-40deg);
  }
  25% {
    transform: rotate(-25deg);
  }
}
@keyframes pourDirt {
  from, 20% {
    transform: rotate(-40deg) scale(0, 0);
  }
  25% {
    transform: rotate(-40deg) scale(1, 1);
  }
  30%, to {
    transform: rotate(-25deg) scale(0.8, 0);
  }
}
@keyframes spinL {
  from, 50%, to {
    transform: rotate(-0.5turn);
  }
  12.5%, 37.5% {
    transform: rotate(-2.5turn);
  }
}
@keyframes spinR {
  from, 50%, to {
    transform: rotate(0);
  }
  12.5%, 37.5% {
    transform: rotate(-2turn);
  }
}
@keyframes hideLoad {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes showFinish {
  from {
    transform: scale(0);
    visibility: visible;
  }
  80% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
    visibility: visible;
  }
}