@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-y: scroll;
  }
  
  body {
    font-family: verdana;
    margin: 0;
    background-color: #e6f4f6;
  }
  
  #homepageImage{
    background-image: url(https://images.unsplash.com/photo-1637176706497-1179d9861e16?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-position: center;
    filter: sepia(30%);
    filter: grayscale(70%);
    margin: 1rem auto;
    width: 100%;
    height: 100%;
    border: 8px, solid, #029987;
  }
  #homepage{
    margin: auto;
    max-width: 95%;
    text-align: center;
  }
  
  #carousel .carousel-image {
    /* position: absolute;
    display: block;
    margin: auto;
    min-width: 100%;
    height: 100%; */
    opacity: 1;
    transition: opacity .5s;
  }
  
  #carousel .carousel-image.hidden {
    opacity: 0;
  }
  
  .signature {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #404040;
    
    width: 100%;
  }
  
  .sig-box {
    padding-top: 0;
    padding-bottom: 0;
    
  }
  
  .port-display-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  li {
    list-style: none;
    padding: .2rem;
    color: darkblue
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper {
    width: 100%;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  h2{
    padding: 1rem 2rem 0;
    text-align: center;
    color: #004C60
  }
  
  #login{
    text-align: center;
    margin: 1rem auto;
    width: 30%;
    min-width: 300px;
    padding: 1rem;
    border-radius: 4px;
    border: 2px solid #029987
  }
   .app-body{
    min-height: 70%;
  } 
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form > * {
    margin: .5rem;
  }
  
  
  #subnav{
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  #productDiv{
    margin: 1rem auto;
    max-width: 90%;
    display: flex;
    padding: 2rem 4rem;
    justify-content: center;
    border-left: 1px solid #029987;
    border-top: 1px solid #029987;
    border-right: 3px solid #029987;
    border-bottom: 3px solid #029987;
    border-radius: 0 0 1rem 0;
  }
  
  #productDiv > div {
    max-width: 100%;
    margin: 1rem
  }
  
  
  #aboutDiv{
    margin: 1rem auto;
    max-width: 90%;
    display: flex;
    padding: 2rem 4rem;
    justify-content: center;
    border-left: 1px solid #029987;
    border-top: 1px solid #029987;
    border-right: 3px solid #029987;
    border-bottom: 3px solid #029987;
    border-radius: 0 0 1rem 0;
  }
  
  #aboutDiv > img {
      margin: 1rem;
      flex: 1 1 100%;
  
  }
  #aboutDivRight {
      margin: 1rem;
      flex: 1 1 100%;
  }
  
  #cart{
    box-sizing: content-box;
    max-width: 800px;
    min-width:fit-content;
    text-align: left;
    margin: 1rem auto;
    padding: 2rem;
    border-radius: 4px;
    border: 2px solid #029987
  }
  
  #checkoutPage{
    max-width: 90%;
    margin: auto;
    display: flex
  }
   #checkoutPageCart{
    flex: 1;
    box-sizing: content-box;
    max-width: 800px;
    min-width:200px;
    text-align: left;
    margin: 1rem auto;
    padding: 2rem;
    border-radius: 4px;
    border: 2px solid #029987
  }
  #checkoutPageForm{
    flex: 1;
    min-width: 200px;
    max-width: 800px;
    box-sizing: content-box;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 4px;
    border: 2px solid #029987
  }
  
  .formBlock {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 90px;
  }
  
  .form {
    background-color:#fcfcfc; 
    padding: 50px 100px;
    border-top: 30px solid #70809090;
    margin-top: 50px;
    width: 40vw;
    height: auto;
  }
  
  input, textarea{
    display: block;
    width: 100%;
    font-size: 12px;
    line-height: 30px;
    border: none;
    border:1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    background: #fafaf9;
    padding-left: 5px;
    outline: none;
  }
  
  input {
    margin-bottom: 9px;
    font-family: 'Spartan';
    }
  
    input:focus, textarea:focus {
      border: 1px solid #08369a;
    }
    
  textarea {
    resize: none;
  }
  
  select {
    display: block;
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Spartan'
  }
  
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form > * {
    margin: 1rem;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
  }
  
  .ticker-tape {
    animation: ticker 20s linear infinite;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    overflow: visible;
    /* height: var(--height); */
    height: 150px;
    padding-left: 100%;
  
  }
  
  .ticker-tape .ticker {
    /* height: var(--height); */
    height: 150px;
    line-height: var(--height);
    white-space: nowrap;
    padding-right: 100%;
   
  }
  
  .ticker-tape .ticker__item {
    display: inline-block;
    padding: 0 .5rem;
    font-size: 2rem;
    font-weight: 250;
    
  }
  
  .yours {
    color: aqua;
  }
  
  .mine {
    color: #EEE;
  }
  
  /* .online {
    background-color: skyblue;
  } */
  
  div > div > .hidden {
    display: 'none';
  }
  
  @keyframes ticker {
    0% {
      transform: translateX(100%);
      visibility: visible;
    }
    100% {
      transform: translateX(-250%);
    }
  }
  
  #chats {
    display: flex;
    flex-wrap: wrap;
  }
  
  
  /* Form Progress */
  .progress {
    width: 1000px;
    margin: 20px auto;
    text-align: center;
  }
  .progress .circle,
  .progress .bar {
    display: inline-block;
    background: #fff;
    width: 40px; height: 40px;
    border-radius: 40px;
    border: 1px solid #d5d5da;
  }
  .progress .bar {
    position: relative;
    width: 80px;
    height: 6px;
    top: -33px;
    margin-left: -5px;
    margin-right: -5px;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }
  .progress .circle .label {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    margin-top: 3px;
    color: #b5b5ba;
    font-size: 17px;
  }
  .progress .circle .title {
    color: #b5b5ba;
    font-size: 13px;
    line-height: 30px;
    margin-left: -5px;
  }
  
  /* Done / Active */
  .progress .bar.done,
  .progress .circle.done {
    background: #eee;
  }
  .progress .bar.active {
    background: linear-gradient(to right, #EEE 40%, #FFF 60%);
  }
  .progress .circle.done .label {
    color: #FFF;
    background: green;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
  }
  .progress .circle.done .title {
    color: #444;
  }
  .progress .circle.active .label {
    color: white;
    background: lightgray;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
  }
  .progress .circle.active .title {
    color: lightgray;
  }
  
  *,
  *:before,
  *:after {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    font-size: 20px;
  }
  
  /* body {
    background: #87beff;
    color: #222;
    font: 1em "Anton", sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
  } */
  
  /* all */
  .progress-container,
  .progress-state,
  .dump-truck,
  .dump-truck div {
    position: absolute;
  }
  
  /* progress */
  .progress-container,
  .progress-box {
    width: 6em;
  }
  
  .progress-container {
    top: 50%;
    left: calc(50% - 3em);
    height: 7.5em;
    z-index: 2;
  }
  
  .progress-box {
    border-radius: 0 0 0.5em 0.5em;
    border: 0.5em solid #505050;
    border-top: 0;
    height: 4em;
  }
  
  .progress-fill {
    animation: fillDirt 10s linear forwards;
    background: #643232;
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition: transform 0.5s ease-out;
    width: 100%;
    height: 100%;
  }
  
  .progress-state {
    bottom: 0;
    left: 0;
    font-size: 1.5em;
    text-align: center;
  }
  
  .state-load {
    animation: hideLoad 20s linear forwards;
  }
  
  .state-finish {
    animation: showFinish 0.3s 20s linear forwards;
    visibility: hidden;
  }
  
  /* trucks */
  .dump-truck {
    opacity: 0;
    top: calc(50% - 4em);
    width: 14em;
    height: 8em;
  }
  .dump-truck:nth-of-type(2) {
    animation: backupL 10s ease-in-out 2 forwards;
    right: 50%;
    transform: scaleX(-1) translateX(5em);
  }
  .dump-truck:nth-of-type(2) .bucket {
    animation: dump 10s linear 2;
  }
  .dump-truck:nth-of-type(2) .dirt {
    animation: rotateDirt 10s linear 2;
  }
  .dump-truck:nth-of-type(2) .dirt-spill {
    animation: pourDirt 10s linear 2;
  }
  .dump-truck:nth-of-type(2) .wheel {
    animation: spinL 10s ease-in-out 2;
  }
  .dump-truck:last-of-type {
    animation: backupR 10s 5s ease-in-out 2 forwards;
    left: 50%;
    transform: translateX(5em);
  }
  .dump-truck:last-of-type .bucket {
    animation: dump 10s 5s linear 2;
  }
  .dump-truck:last-of-type .dirt {
    animation: rotateDirt 10s 5s linear 2;
  }
  .dump-truck:last-of-type .dirt-spill {
    animation: pourDirt 10s 5s linear 2;
  }
  .dump-truck:last-of-type .wheel {
    animation: spinR 10s 5s ease-in-out 2;
  }
  
  .front {
    background: linear-gradient(#ff3f30, #ff3f30) 2.7em 0.75em/0.2em 2em, linear-gradient(#a0a0a0, #a0a0a0) 1em 3.5em/0.8em 0.2em, linear-gradient(#505050, #505050) 3.3em 6.1em/0.5em 0.2em, linear-gradient(#505050, #505050) 3.3em 6.8em/0.5em 0.2em, linear-gradient(83deg, #282828 49%, rgba(40, 40, 40, 0) 50%) 1em 0.75em/5em 2em, radial-gradient(3.4em 4.6em at 33% 100%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 59%, rgba(255, 255, 255, 0) 60%), radial-gradient(3.4em 4.6em at 33% 100%, rgba(255, 63, 48, 0) 49%, #ff3f30 50%);
    background-repeat: no-repeat;
    border-radius: 10% 20% 5% 25%/10% 50% 5% 100%;
    top: 0.4em;
    left: 10.1em;
    width: 3.9em;
    height: 7em;
  }
  
  .bucket {
    background: repeating-linear-gradient(95deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 0.85em, rgba(0, 0, 0, 0.15) 0.9em, rgba(0, 0, 0, 0.15) 1.75em, rgba(0, 0, 0, 0.15) 1.8em) 0.1em 1.6em/7.8em 3.2em, linear-gradient(#505050, #505050) 8em 0/2em 0.5em, linear-gradient(95deg, rgba(80, 80, 80, 0) 0.45em, #505050 0.5em, #505050 1.45em, rgba(80, 80, 80, 0) 1.5em) 7em 0/1.6em 5.5em, linear-gradient(rgba(80, 80, 80, 0) 1em, #505050 1em) 0 0/7.5em 5.5em;
    background-repeat: no-repeat;
    border-radius: 0 0 0 25%/0 0 0 15%;
    top: 0;
    left: 0;
    width: 10em;
    height: 5.5em;
    transform: rotate(0deg);
    transform-origin: 22% 100%;
  }
  
  .dirt {
    background: #643232;
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    top: 1.1em;
    left: -3.2em;
    width: 7.4em;
    height: 3em;
    transform: rotate(-25deg);
    transform-origin: 50% 0;
    z-index: -1;
  }
  
  .dirt-spill {
    background: #643232;
    border-radius: 0.4em;
    top: 0;
    left: -5.25em;
    transform: rotate(-40deg) scale(1, 1);
    transform-origin: 5.25em 0em;
    width: 5.5em;
    height: 0.8em;
  }
  
  .base {
    background: #7f5b58;
    border-radius: 0.25em;
    top: 5.5em;
    left: 2em;
    width: 8.3em;
    height: 1.5em;
  }
  
  .wheel {
    background: radial-gradient(100% 100%, #282828 9%, rgba(40, 40, 40, 0) 10%), radial-gradient(100% 100%, #a0a0a0 29%, rgba(160, 160, 160, 0) 30%), linear-gradient(90deg, rgba(255, 255, 255, 0.15) 49%, rgba(255, 255, 255, 0) 50%), radial-gradient(100% 100%, #282828 49%, rgba(40, 40, 40, 0) 50%);
    border-radius: 50%;
    bottom: 0;
    width: 2.4em;
    height: 2.4em;
  }
  
  .wheel-front {
    left: 10.4em;
  }
  
  .wheel-middle {
    left: 4.5em;
  }
  
  .wheel-back {
    left: 2em;
  }
  
  /* animations */
  @keyframes backupL {
    from, 50%, to {
      opacity: 0;
      transform: scaleX(-1) translateX(20em);
    }
    12.5%, 37.5% {
      opacity: 1;
      transform: scaleX(-1) translateX(5em);
    }
  }
  @keyframes backupR {
    from, 50%, to {
      opacity: 0;
      transform: translateX(20em);
    }
    12.5%, 37.5% {
      opacity: 1;
      transform: translateX(5em);
    }
  }
  @keyframes dump {
    from, 12.5%, 37.5%, to {
      transform: rotate(0deg);
    }
    20%, 30% {
      transform: rotate(-40deg);
    }
  }
  @keyframes rotateDirt {
    from, 19.9%, 30.1%, to {
      opacity: 0;
    }
    20%, 30% {
      opacity: 1;
      transform: rotate(-40deg);
    }
    25% {
      transform: rotate(-25deg);
    }
  }
  @keyframes pourDirt {
    from, 20% {
      transform: rotate(-40deg) scale(0, 0);
    }
    25% {
      transform: rotate(-40deg) scale(1, 1);
    }
    30%, to {
      transform: rotate(-25deg) scale(0.8, 0);
    }
  }
  @keyframes spinL {
    from, 50%, to {
      transform: rotate(-0.5turn);
    }
    12.5%, 37.5% {
      transform: rotate(-2.5turn);
    }
  }
  @keyframes spinR {
    from, 50%, to {
      transform: rotate(0);
    }
    12.5%, 37.5% {
      transform: rotate(-2turn);
    }
  }
  @keyframes hideLoad {
    from {
      visibility: visible;
    }
    to {
      visibility: hidden;
    }
  }
  @keyframes showFinish {
    from {
      transform: scale(0);
      visibility: visible;
    }
    80% {
      transform: scale(1.2);
    }
    to {
      transform: scale(1);
      visibility: visible;
    }
  }
  
  .plusButton {
    /* Config start */
    --plus_sideLength: 2.5rem;
    --plus_topRightTriangleSideLength: 0.9rem;
    /* Config end */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: var(--plus_sideLength);
    height: var(--plus_sideLength);
    background-color: #000000;
    overflow: hidden;
  }
  
  .plusButton::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
    border-style: solid;
    border-color: transparent white transparent transparent;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
  }
  
  .plusButton:hover {
    cursor: pointer;
  }
  
  .plusButton:hover::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
  }
  
  .plusButton:focus-visible::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
  }
  
  .plusButton>.plusIcon {
    fill: white;
    width: calc(var(--plus_sideLength) * 0.7);
    height: calc(var(--plus_sideLength) * 0.7);
    z-index: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
  }
  
  .plusButton:hover>.plusIcon {
    fill: black;
    transform: rotate(180deg);
  }
  
  .plusButton:focus-visible>.plusIcon {
    fill: black;
    transform: rotate(180deg);
  }
  
  /* Switch starts here */
  .rocker {
    display: inline-block;
    position: relative;
    /*
    SIZE OF SWITCH
    ==============
    All sizes are in em - therefore
    changing the font-size here
    will change the size of the switch.
    See .rocker-small below as example.
    */
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #888;
    width: 7em;
    height: 4em;
    overflow: hidden;
    border-bottom: 0.5em solid #eee;
  }
  
  .rocker-small {
    font-size: 0.75em;
   /* Sizes the switch */
    margin: 1em;
  }
  
  .rocker::before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999;
    border: 0.5em solid #eee;
    border-bottom: 0;
  }
  
  .rocker input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switch-left,
  .switch-right {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 3em;
    transition: 0.2s;
    user-select: none;
  }
  
  .switch-left {
    height: 2.4em;
    width: 2.75em;
    left: 0.85em;
    bottom: 0.4em;
    background-color: #ddd;
    transform: rotate(15deg) skewX(15deg);
  }
  
  .switch-right {
    right: 0.5em;
    bottom: 0;
    background-color: #bd5757;
    color: #fff;
  }
  
  .switch-left::before,
  .switch-right::before {
    content: "";
    position: absolute;
    width: 0.4em;
    height: 2.45em;
    bottom: -0.45em;
    background-color: #ccc;
    transform: skewY(-65deg);
  }
  
  .switch-left::before {
    left: -0.4em;
  }
  
  .switch-right::before {
    right: -0.375em;
    background-color: transparent;
    transform: skewY(65deg);
  }
  
  input:checked + .switch-left {
    background-color: #0084d0;
    color: #fff;
    bottom: 0px;
    left: 0.5em;
    height: 2.5em;
    width: 3em;
    transform: rotate(0deg) skewX(0deg);
  }
  
  input:checked + .switch-left::before {
    background-color: transparent;
    width: 3.0833em;
  }
  
  input:checked + .switch-left + .switch-right {
    background-color: #ddd;
    color: #888;
    bottom: 0.4em;
    right: 0.8em;
    height: 2.4em;
    width: 2.75em;
    transform: rotate(-15deg) skewX(-15deg);
  }
  
  input:checked + .switch-left + .switch-right::before {
    background-color: #ccc;
  }
  
  /* Keyboard Users */
  input:focus + .switch-left {
    color: #333;
  }
  
  input:checked:focus + .switch-left {
    color: #fff;
  }
  
  input:focus + .switch-left + .switch-right {
    color: #fff;
  }
  
  input:checked:focus + .switch-left + .switch-right {
    color: #333;
  }
  
  .light-mode {
    background-color: #e6f4f6;
    color: #000; /* Adjust text color for light mode */
  }
  
  .dark-mode {
    background-color: #333;
    color: #fff; /* Adjust text color for dark mode */
  }
  
  .dark-mode li {
    background-color: #333;
    color: #fff; /* Adjust text color for dark mode */
  }
  
  .book {
    position: relative;
    border-radius: 10px;
    width: 220px;
    height: 300px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
  }
  
  .cover {
    top: 0;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
  }
  
  .bookp {
    font-size: 20px;
    font-weight: bolder;
  }
  
  .card {
    color: #1b1b1b;
    width: 500px;
    height: 200px;
    position: relative;
    outline: 6px solid #f5f5f5;
    border-radius: 8px;
    line-height: 150%;
    padding: 16px;
    background: #ff930f;
    background-blend-mode: multiply;
    background: linear-gradient(to top, #ff930f, #ffcc33);
    transition: background-color 1s ease-in-out;
    overflow: hidden;
  }
  
  .card-front {
    bottom: 16px;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  }
  
  .card-back {
    transform: translateX(120%);
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  }
  
  
  /*Text*/
  .title {
    font-size: 1.3rem;
    font-weight: bold;
  }
  /*Text divider*/
  .title::after {
    content: "";
    display: block;
    width: 50%;
    border-radius: 50%;
    height: 2px;
    margin: 2px auto;
    background-color: #1b1b1b;
  }
  
  
  /*Hover*/
  .card:hover {
    background-color: #1b1b1b25;
  }
  
  .card:hover .card-front {
    transform: translateX(-100%);
  }
  
  .card:hover .card-back {
    transform: translateX(0);
  }
  
  .pcard {
    position: relative;
    width: 400px;
    height: 450px;
    color: #2e2d31;
    background: #131313;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .temporary_text {
    font-weight: bold;
    font-size: 24px;
    padding: 6px 12px;
    color: #f8f8f8;
  }
  
  .pcard_title {
    font-weight: bold;
  }
  
  .pcard_content {
    position: absolute;
    left: 0;
    bottom: 0;
      /* edit the width to fit pcard */
    width: 100%;
    padding: 30px;
    background: #f2f2f2;
    border-top-left-radius: 20px;
      /* edit here to change the height of the content box */
    transform: translateY(125px);
    transition: transform .25s;
  }
  
  .pcard_content::before {
    content: '';
    position: absolute;
    top: -45px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #f2f2f2;
  }
  
  .pcard_title {
    color: #131313;
    line-height: 25px;
  }
  
  .pcard_subtitle {
    display: block;
    font-size: 12px;
    margin-bottom: 15px;
  }
  
  .pcard_description {
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
  }
  
  .pcard:hover .pcard_content {
    transform: translateY(0);
  }
  
  .pcard:hover .pcard_description {
    opacity: 1;
    transition-delay: .25s;
  }
  
  .btn {
    --color: #3dd5f3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    border: none;
    background-color: transparent;
  }
  
  .btn div {
    letter-spacing: 2px;
    font-weight: bold;
    background: var(--color);
    border-radius: 2rem;
    color: black;
    padding: 1rem;
  }
  
  .btn::before {
    content: '';
    z-index: -1;
    background-color: var(--color);
    border: 2px solid black;
    border-radius: 2rem;
    width: 110%;
    height: 110%;
    position: absolute;
    transform: rotate(10deg);
    transition: .5s;
    opacity: 0.2;
  }
  
  .btn:hover {
    cursor: pointer;
    filter: brightness(1.2);
    transform: scale(1.3);
  }
  
  .btn:hover::before {
    transform: rotate(0deg);
    opacity: 1;
  }
  
  .btn svg {
    transform: translateX(-200%);
    transition: .5s;
    width: 0;
    opacity: 0;
  }
  
  .btn:hover svg {
    width: 20px;
    transform: translateX(0%);
    opacity: 1;
  }
  
  .btn:active {
    filter: brightness(1.4);
  }
  
  .linkbutton {
    display: flex;
    background-color: #0A66C2;
    color: #ffffff;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    gap: 0.75rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: .6s ease;
  }
  
  .linkbutton svg {
    height: 30px;
  }
  
  .linkbutton:hover {
    box-shadow: none;
  }
  
  tooltip { 
    position: relative; /* Required for the tooltip to be positioned relative to the button */ 
  } 
   
  .tooltip::after { 
    content: "Cell: 617-610-1869"; /* The text to show in the tooltip */ 
    display: none; /* Hide the tooltip by default */ 
    position: absolute; /* Position the tooltip relative to the button */ 
    bottom: 100%; /* Position the tooltip above the button */ 
    left: 50%; /* Center the tooltip horizontally */ 
    transform: translateX(-50%); /* Center the tooltip horizontally */ 
    background-color: #000; /* Tooltip background color */ 
    color: #fff; /* Tooltip text color */ 
    padding: 5px; /* Add some padding to the tooltip */ 
    border-radius: 5px; /* Add rounded corners to the tooltip */ 
    white-space: nowrap; /* Prevent line breaks in tooltip text */ 
  } 
   
  .tooltip:hover::after { 
    display: block; /* Show the tooltip when hovering over the button */ 
  } 
